<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="utf-8">
    <title>logged out</title>
  </head>
  <body>
    <h1>You logged out</h1>
    <a href="/">Back To Home Page</a>
  </body>
</html>
