<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./styles.css">
  <meta charset="utf-8">
  <title>login</title>
</head>

<body class="login-bg">
  <section>
    <h1>Be our Guest!</h1>
    <main>
      <form class="" action="/login" method="post">
        <article class="guest-info">
          <div class="guest-pass">
            <p>Username: guest</p>
            <p>Password: password</p>
          </div>
        <div class="text-fields">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
        </div>
      </article>
        <input class="button" type="submit" name="submit" value="Login">
      </form>
    </main>
  </section>
</body>

</html>
